---
import BaseLayout from '../../layouts/BaseLayout.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { sanityClient } from '../../../sanity.config.js';
import FormattedDate from '../../components/FormattedDate.astro';

export async function getStaticPaths() {
	const categories: any[] = await sanityClient.fetch(`
		*[_type == "category"] {
			title,
			"slug": slug.current
		}
	`);
	
	console.log('Categories from Sanity:', categories);
	
	return categories.map((category) => {
		console.log('Creating path for:', category.slug);
		return {
			params: { slug: category.slug },
			props: { 
				categoryTitle: category.title,
				categorySlug: category.slug 
			},
		};
	});
}

const { categoryTitle, categorySlug } = Astro.props;

const posts: any[] = await sanityClient.fetch(`
	*[_type == "post" && references(*[_type == "category" && slug.current == "${categorySlug}"]._id)] | order(publishedAt desc) {
		_id,
		title,
		slug,
		publishedAt,
		"imageUrl": mainImage.asset->url,
		"categories": categories[]->title
	}
`);
---

<BaseLayout title={`${categoryTitle} - ${SITE_TITLE}`} description={SITE_DESCRIPTION}>
	<!-- your category page content here -->
	<section>
		<h1>Posts in: {categoryTitle}</h1>
		<ul>
			{
				posts.map((post) => (
					<li>
						<a href={`/blog/${post.slug.current}/`}>
							{post.imageUrl && (
								<img width={720} height={360} src={post.imageUrl} alt="" />
							)}
							<h4 class="title">
								{post.title} - <span class="date"><FormattedDate date={new Date(post.publishedAt)} /></span>
							</h4>
						</a>
					</li>
				))
			}
		</ul>
	</section>
</BaseLayout>
