---
import BaseLayout from '../../layouts/BaseLayout.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { sanityClient } from '../../../sanity.config.js';
import FormattedDate from '../../components/FormattedDate.astro';

const posts: any[] = await sanityClient.fetch(`
  *[_type == "post"] | order(publishedAt desc) {
    _id,
    title,
    slug,
    publishedAt,
    "imageUrl": mainImage.asset->url,
    "categories": categories[]->{title, "slug": slug.current}
  }
`);
---

<BaseLayout title={`Blog - ${SITE_TITLE}`} description={SITE_DESCRIPTION}>
	<!-- your existing main content here -->
	<section>
		<ul>
			{
				posts.map((post) => (
					<li>
						<a href={`/blog/${post.slug.current}/`}>
							{post.imageUrl && (
								<img width={720} height={360} src={post.imageUrl} alt="" />
							)}
							<h4 class="title">
								{post.title} - 
								<span class="date"><FormattedDate date={new Date(post.publishedAt)} /></span>
							</h4>
							
						</a>
						{/* {post.categories && post.categories.length > 0 && (
							<p class="categories">
								Categories: 
								{post.categories.map((category, index) => (
									<>
										<a href={`/category/${category.slug}`}>
											{category.title}
										</a>
										{index < post.categories.length - 1 ? ', ' : ''}
									</>
								))}
							</p>
						)} */}
					</li>
				))
			}
		</ul>
	</section>

</BaseLayout>
