<!-- components/VideoEmbed.astro -->
---
const { url } = Astro.props;

// Convert YouTube/Vimeo URLs to embed format
function getEmbedUrl(url: string) {
  if (url.includes('facebook.com')) {
    // Facebook videos need special embed format
    if (url.includes('/videos/')) {
      // Extract video ID and create embed URL
      const videoId = url.match(/\/videos\/(\d+)/)?.[1];
      if (videoId) {
        return `https://www.facebook.com/plugins/video.php?href=${encodeURIComponent(url)}&width=500&show_text=false&height=280&appId`;
      }
    }
    // For other Facebook posts
    return `https://www.facebook.com/plugins/post.php?href=${encodeURIComponent(url)}&width=500&show_text=true&height=280&appId`;
  }

  if (url.includes('instagram.com')) {
    // Instagram requires special handling
    return url + 'embed/';
  }
  
  if (url.includes('youtube.com/watch')) {
    const videoId = url.split('v=')[1]?.split('&')[0];
    return `https://www.youtube.com/embed/${videoId}`;
  }

  if (url.includes('youtu.be/')) {
    const videoId = url.split('/').pop();
    return `https://www.youtube.com/embed/${videoId}`;
  }

  if (url.includes('vimeo.com/')) {
    const videoId = url.split('/').pop();
    return `https://player.vimeo.com/video/${videoId}`;
  }
  
  return url;
}

const embedUrl = getEmbedUrl(url);
---

<div class="relative pb-[56.25%] h-0 overflow-hidden">
  <iframe 
    src={embedUrl}
    width="560" 
    height="315" 
    allowfullscreen
    class="absolute top-0 left-0 w-full h-full"
  ></iframe>
</div>

